# Ambientes virtuais
venv/
env/
.bancoalunos/
*.pyc
__pycache__/

# VSCode
.vscode/

# Arquivos sensíveis
service_account.json

# Cache
*.log
*.sqlite3

# Build
dist/
build/
*.egg-info/

# Sistemas
.DS_Store
Thumbs.db
